

.profile__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 410px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}

.profile__title {
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	margin-top: 74px;
	padding-top: 74px;
}

.profile__form {
	padding: 90px 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}
.profile__input {
	border-style: none;
	font-size: 11px;
	color: black;
	padding-top: 15px;
	margin-bottom: 16px;
	text-align: end;
	width: 100%;
	align-items: center;
}
.profile__label {
	font-size: 11px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #e8e8e8;
}
.profile__btn {
	text-align: center;
	font-size: 13px;
	font-weight: 400;
	border: none;
	background-color: white;
	cursor: pointer;
	text-decoration: none;
}
.profile__btn:hover {
	opacity: 0.7;
	transition: 0.3s ease-in;
}
.type__edit {
	margin-top: 205px;
}

.type__logout {
	color: #ff3055;
	margin-top: 16px;
}

@media screen and (max-width: 769px) {


	.profile__title {
		padding-top: 310px;
		margin: 0;
	}

	.profile__form {
		max-width: 410px;
		margin: 0 auto;
		padding-top: 82px;

	}

	.profile__btn {
		font-size: 13px;
	}

	.type__edit {
		margin-top: 195px;
	}
	

}

@media screen and (max-width: 697px) {
	
	.profile__container {
	padding: 70px 30px;
	margin: 0 auto;
	}

	.profile__title {
		padding-top: 75px;
		margin: 0;
	}

	.profile__form {
		min-width: 260px;
		margin: 0 auto;
		padding-top: 70px;
	}

	.profile__btn {
		font-size: 12px;
	}

	.type__edit {
		margin-top: 360px;
	}
	

}