.notfound {
	max-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 60px 0;
}
.notfound__block {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.notfound__title {
	font-weight: 400;
	font-size: 140px;
	align-items: center;
	margin: 0;
	padding: 191px 0 9px;
}

.notfound__text {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 0 0 184px 0;
}

.notfound__button {
	color: #3456f3;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	margin: 0 auto;
	cursor: pointer;
}

.notfound__button:hover {
	opacity: 0.6;
	transition: ease-in;
}

@media screen and (max-width: 1279px){
	.notfound__title {
	padding-top: 352px;
	}
}

@media screen and (max-width: 607px) {
	.notfound {
		padding: 0px 10px;
	}

	.notfound__title {
		padding-top: 335px;
		font-size: 80px;
	}

	.notfound__text {
		font-size: 12px;
		padding: 0 0 284px 0;
	}

	.notfound__button{
		font-size: 12px;
		line-height: 1.25;
	}
}
