.portfolio {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 100px 70px 105px;
	background-color: white;
	color: black;
}

.portfolio__title {
	margin: 0 0 30px;
	padding: 0;
	color: #A0A0A0;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
}

.portfolio__links {
	margin: 0;
	padding: 0;
}

.portfolio__item {
	list-style: none;
	justify-content: space-between;

	margin: 0;
	padding: 0;
	font-size: 30px;
	font-weight: 400;
	line-height: 89px;
	letter-spacing: -0.04em;
	border-bottom: solid 1px #E8E8E8;
 }
 
 .portfolio__item:last-of-type {
	border-bottom: none;
 }
 
 .portfolio__link {
	display: block;
	text-decoration: none;
	color: black;
	transition: 0.2s;
 }
 
 .portfolio__link:hover {
	opacity: 60%;
 }
 
 .portfolio__link-arrow {
	/* padding-top: 9px; */
	float: right;
	line-height: 80px;
	letter-spacing: 0;
 }
 
 @media screen and (max-width: 1100px) {
	.portfolio {
	  padding: 90px 50px 70px;
	}
 
	.portfolio__item {
	  font-size: 28px;
	}
 }
 
 @media screen and (max-width: 740px) {
	.portfolio {
	  padding: 70px 14px 50px;
	}
 
	.portfolio__title {
	  margin: 0 0 20px;
	  font-size: 14px;
	  font-weight: 400;
	  line-height: 20px;
	}
 
	.portfolio__item {
	  font-size: 18px;
	  font-weight: 400;
	  line-height: 67px;
	}
 
	.portfolio__link-arrow {
	  padding-top: 5px;
	  float: right;
	  line-height: 58px;
	  letter-spacing: 0;
	}
 }