.promo {
	background-color: #073042;
	font-family: "Inter", "Arial", "Helvetica", sans-serif;
	color: #fff;
	width: 100%;
	min-height: 648px;
	padding: 0 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	position: relative;

}

.promo__banner{
	position: absolute;
	width: 310px;
	right: 70px;
	top: 149px;
}

.promo__title {
	font-size: 50px;
	font-weight: 400;
	line-height: 58px;
	max-width: 640px;
	margin: 149px 0 36px 0;
	padding: 0;
}

.promo__text {
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	opacity: 60%;
	max-width: 310px;
}





.promo__nav {
	max-height: 36px;
	max-width: 89px;
	padding: 10px 20px ;
	border-radius: 3px;
	border: 1px solid #fff;
	opacity: 0.6;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	align-items: center;
	margin: auto 0 55px;
}
@media screen and (max-width: 1279px){
	.promo {
		/* margin-top: 13px; */
      align-items: center;
      padding: 0 44px;
		min-height: 924px;

	}
	.promo__nav {
		padding: 10px 20px;
		margin: 0 auto 75px;
		
	}
	.promo__text {
		text-align: center;
		max-width: 260px;
		margin: 0 auto 90px;
	}
	.promo__banner{
		width: 310px;
		position: static;
		margin: 205px auto 50px;
	}
	.promo__title {
		font-size: 40px;
		font-weight: 400;
		line-height: 50px;
		max-width: 680px;
		/* letter-spacing: -0.04em; */

		margin: 0 auto 22px;
		text-align: center;
	}
}
/* @media screen and (max-width: 1279px){

}

@media screen and (max-width: 1279px){
	
}
@media screen and (max-width: 1279px) {

} */


@media screen and (max-width: 767px){
	.promo {
      padding: 60px 10px 0;
		min-height: 710px;

	}
	.promo__nav {
		margin: 0 auto 30px;
	}
	.promo__text {
		text-align: center;
		max-width: 260px;
		margin: 0 auto 80px;
	}
	.promo__banner{
		margin: 84px auto 45px;
		width: 210px;
	}
	.promo__title {
		font-size: 30px;
		line-height: 38px;
		letter-spacing: -.04em;
		max-width: 300px;
	}
}

@media screen and (max-width: 767px){

}


@media screen and (max-width: 767px){

}



@media screen and (max-width: 767px) {

}


@media screen and (max-width: 1279px) {

	
}

@media screen and (max-width: 767px) {

	
}