

.page {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  min-width: 320px; 
  max-width: 1280px;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  
}
