.navigation__main {
   display: flex;
   align-items: center;
   justify-content: space-between;
  max-height: 50px;
}

.navigation__container {
   display: flex;
   align-items: center;
   justify-content: center;
   align-self: center;
   gap: 16px;
   text-decoration: none;
	position: absolute;
	right: calc(50% - 105px);
}

.navigation__profile {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100px;
   background-color: #2be080;
   height: 32px;
   border-radius: 40px;
   margin-right: 27px 0 341px 0;
}
.navigation__profile-icon {
   background-color: #fff;
   width: 11px;
   height: 11px;
   border-radius: 50%;
   padding: 7px;
   margin-left: 7px;
   margin-right: 3px;
}
.navigation__link-login {
   color: #000000;
	visibility: visible;
   font-size: 12px;
   line-height: 16px;
   width: 76px;
   height: 32px;
   background-color: #2be080;
   border-radius: 3px;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-right: 70px;
}
.navigation__link-register {
   font-weight: 500;
   font-size: 12px;
   line-height: 1.33;
   color: #ffffff;
   margin-right: 30px;
   text-decoration: none;
	visibility: visible;
}

.navigation__link {
   color: inherit;
   font-size: 13px;
   font-weight: 400;
   line-height: 18px;
   text-decoration: none;
}

.light {
   color: #000;
}

.type__account {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #000;
   border-radius: 40px;
   font-size: 13px;
   line-height: 12px;
   margin-left: auto;

}

.burger-button {
   background: url(../../images/burger-btn.svg);
   visibility: hidden;
   width: 40px;
   height: 43px;
   border: none;
   object-fit: contain;
   cursor: pointer;
   padding: 0;
}
.burger-button__main {
   background: url(../../images/menu-icon-white.svg);
   visibility: hidden;
   width: 40px;
   height: 43px;
   border: none;
   object-fit: contain;
   cursor: pointer;
   margin-right: 30px;

}

.burger__type-list {
   list-style: none;
   margin: 150px 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 28px;
   text-align: center;
}
.burger__type-item {
   font-size: 18px;
   font-weight: 500;
   text-decoration: none;
   color: #000;
}
.burger__type-item:hover {
   text-decoration: underline;
   text-decoration-style: solid;
   text-underline-offset: 6px;
}

.button__cancel {
   background-image: url("../../images/cancel-icon.svg");
   width: 27px;
   height: 27px;
   border: none;
   cursor: pointer;
   padding: 0;
   position: absolute;
   top: 23px;
   right: 27px;
   z-index: 200;
   background-color: transparent;
}
.navigation__burger {
height: 100vh;
display: flex;
flex-direction: column;
}


.burger__type {
   
   background-color: #fff;
   border: 1px solid #ccc;
   position: absolute;
   top: 0px;
   left: 248px;
   right: 0;
   padding: 20px;
   opacity: 0;
   height: 100vh;
   max-width: 534px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   text-align: center;
}
.burger {
   background-color: #fff;
   box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
   text-align: center;
   margin: 0 auto;
}

@media screen and (max-width: 769px) {
   .navigation__main {
      visibility: hidden;
   }

   .burger-button {
      visibility: visible;
   }

   .burger-button__main {
      visibility: visible;
		
   }
   .burger__type {
      opacity: 1;
   }
}

@media screen and (max-width: 469px) {

   .burger-button__main {
		margin-right: 16px;
   }
   .burger-button {
      margin-right: 16px;
   }
   .burger__type {
      max-width: 100%;
      left: 0;
   }
}

