.search {
	padding: 0px 70px;
}


.search__form {
	box-sizing: border-box;
	width: 100%;
	padding: 0;
	margin: 70px 0px 32px 0px;
	border-bottom: 1px solid rgba(170, 170, 170, 0.2);
	color: #000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
}
.search__input {
	width: 100%;
	height: 48px;
	border: 1px solid transparent;
	outline: none;
	color: #000;
	font-size: 16px;
	line-height: 20px;
	cursor: pointer;
}
.search__input::placeholder {
	color: #a0a0a0;
	font-size: 28px;
}

.search__button {
	width: 58.65px;
	height: 34px;
	border-radius: 48px;
	background: #3456f3;
	border: none;
	color: #fff;
	text-align: center;
	font-size: 11px;
	font-weight: 500;
	line-height: 18px;
	cursor: pointer;
}




@media screen and (max-width: 1279px) {
	.search {
margin-top: 150px;
margin-bottom: 126px;
padding: 0px 30px;

	}
}


@media screen and (max-width: 767px) {
	.search {
		padding: 0px 10px;
		margin-bottom: 90px;
}
   .search__input::placeholder{
	font-size: 18px;
	line-height: normal;
}
.search__form{
	margin-bottom: 40px;
}
.search__button{
	padding: 1px 13px;
	margin-left: 5;
}
}