.popup{
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   flex-direction: column;
   align-items: center;
   visibility: hidden;
   opacity: 0;
   transition: all 0.5s ease-in-out, opacity 0.5s ease-in-out;

}

.popup__close-btn{
   display: block;
   background-image: url(../../images/Close-Icon.svg);
   background-repeat: no-repeat;
   background-color: transparent;
   background-size: contain;
   border:none;
   width: 32px;
   height: 32px;
   transition: .3s ease; 
   position: absolute;
   top: -40px;
   right: -40px;
   cursor: pointer;
}



.popup__close-btn:hover{
   opacity: 0.59;
   transform: rotate(45deg);
}

.popup__container{
   position: relative;
   margin:  auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 358px;
   background-color: white;
   padding: 34px 36px;
   border-radius: 10px;
   font-family: 'Inter', sans-serif;
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}


.popup__tooltip-text{
	font-weight: 900;
	text-align: center;
	font-size: 24px;
	
	}

	.popup__tooltip-img{
		width: 120px;
		padding-bottom: 32px;
	
	}

	.popup_opened{
		opacity: 1;
		visibility: visible;
	}

	@media(max-width: 618px){
		.popup__container{
			width: 238px;
			padding: 25px 22px;
		}
		
		.popup__close-btn{
			width: 20px;
			height: 20px;
			top: -38px;
			right: 0px;
		}
	}