.filter__checkbox-box{

  align-items: left;
  display: flex;
  height: 20px;
  margin: auto;
  gap: 14px;
  border-radius: 20px;
  /* padding: 6px; */
}

.filter__checkbox-box:hover {
  opacity: 0.7;
}

.filter__checkbox-title{
  font-size: 13px;
  line-height: 18px;
}
.radio-checkbox {
  width: 36px;
  height: 20px;
  cursor: pointer;
  position: relative;
}


.radio-checkbox::before {
  position: absolute;
  content: "";
  background-color: #EBEBEB;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  
}


.radio-checkbox:checked:before {
background-color: #2BE080;
}


.radio-checkbox::after {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 4px;
  left: 4px;
  content: "";
  background-color: #2BE080;
  border-radius: 10px;

}
.radio-checkbox:checked:after {
  background: #FFFFFF;
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

@media screen and (max-width: 1200px){
  .filter__checkbox-box{

      flex-direction: row-reverse;

    }
}


@media screen and (max-width: 767px){
  .filter__checkbox-box{
  justify-content: center;  
  }
  .filter__checkbox-title{
    font-size: 11px;

  }
}