.about-project{
	min-height: 598px;
	padding: 0 70px;
	margin: 10px 0 0 0;
}

.about-project__heading {
	padding: 100px 0 23px 0;
	margin: 0 0 55px 0;
	border-bottom: 1px solid rgba(84, 84, 84, 0.7);
	font-size: 22px;
	font-weight: 400;
	letter-spacing: -0.88px;
}
.about-project__desc-item {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: -0.8px;
	margin: 13px 0 25px;
}
.about-project__desc-text {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.about-project__box {
	display: flex;
	justify-content: space-between;
	gap: 52px;
	margin: 60px 0 96px;

}

.about-project-periods {
	display: grid;
	grid-template-columns: minmax(100px, 1fr) 4fr;
	grid-template-rows: 36px 31px;
}

.about-project__period {
	margin: 0;
	padding-top: 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
	color: black;
	text-align: center;
}
.about-project__period_time {
	background-color: #2be080;
}
.about-project__period_time-long {
	background-color: #f2f2f2;
}
.about-project__about {
	color: #a0a0a0;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	text-align: center;
}


@media screen and (max-width: 1279px) {
	.about-project {
		margin: 0;
		padding: 0 50px;
		min-height: 585px;
	}
	.about-project__title {
		padding: 90px 0 23px 0;
	}
	.about-project__desc-text {
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
	}
	.about-project__box{
		gap: 38px;
		margin-bottom: 75px;
	}
	.about-project__heading{
		padding-top: 90px;
	}
}


@media screen and (max-width: 767px) {
	.about-project {
		padding: 0px 18px;
		margin-bottom: 56px;
	}
	

	.about-project__title {
		margin: 0 0 16px;
		padding: 70px 0 29px;
		font-size: 18px;
		line-height: 1.22;
	}

	.about-project__desc-item{
		font-size: 18px;
		line-height: normal;
		letter-spacing: -0.72px;
		margin: 0 0 16px 0;
	}
	.about-project__desc-text{
		font-size: 11px;
		line-height: 16px;
	}

	.about-project__text {
		font-size: 11px;
		line-height: 1.45;
	}
	.about-project__about{
		font-size: 11px;
		line-height: normal;
	}

	.about-project__period {
		font-size: 11px;
		line-height: 1.18;
	}
	.about-project__box {
		flex-direction: column;
		margin: 60px 0 50px ;
		gap: 44px;
	}
	.about-project__heading {
		font-size: 18px;
		letter-spacing:  -0.72px;;
		padding: 70px 0 28px 0;
	}
}

/* @media screen and (max-width: 767px) {
	
	.project__section-box {
		flex-direction: column;
		margin: 60px 0 50px ;
		gap: 44px;
	}
} */