.footer {
	width: 100%;
	box-sizing: border-box;
	padding: 18px 70px;
	margin-top: 70px;
	color: #000;
}
.footer__title {
	margin: 0;
	padding: 0 0 20px 0;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #a0a0a0;
	text-align: center;
	border-bottom: 1px solid #e8e8e8;
}
.footer__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__link-wrapper {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 20px;
}
.footer__link-social {
	text-decoration: none;
	color: #000;
	font-size: 13px;
	font-weight: 400;
}

.footer__year{
	font-size: 13px;
	line-height: normal;
}



@media screen and (max-width: 1279px){
	.footer {
		padding: 18px 30px;
		margin-top: 65px;
	}
	.footer__title{
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 767px){
	.footer {
		padding: 18px 10px;
		margin-top: 60px;
	}
	.footer__container {
		margin-top: 27px;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}
	.footer__link-wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 9px;
	}
	.footer__title{
		font-size: 12px;
		margin: 0;
	}

	.footer__link-social{
		font-size: 12px;
	}

	.footer__year{
		font-size: 12px;
		color: #A0A0A0;
		margin-top: 30px;
	}
}