.about-me{
   padding: 18px 70px;
   box-sizing: border-box;
   margin: 10px auto 0;
   padding: 0 70px;   
}

.about-me__wrapper{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 12px;
}

.about-me__name {
   color: #000;
   font-size: 50px;
   font-weight: 400;
   line-height: 58px; 
   letter-spacing: -2px;
   margin: 0;
}

.about-me__text {
   font-size: 18px;
   font-weight: 500;
   line-height: 20px;
}

.about-me__info {
   font-size: 14px;
   font-weight: 400;
   line-height: 22px;
   margin: 26px 0 99px 0;
   max-width: 600px;
}

.about-me__social {
color: #000;
font-size: 14px;
font-weight: 500;
text-decoration: none;
padding: 99px 0 0;
}

.about-me__image {
   background-color: #e8e8e8;
   height: 327px;
   min-width: 270px;
   height: 327px;
   border-radius: 10px;
   box-sizing: border-box;
   background-image: url('../../images/photo.jpeg');
   background-size: cover;
   background-position: center;
}

.about-me__heading {
	padding: 100px 0 23px 0;
	margin: 0 0 55px 0;
	border-bottom: 1px solid rgba(84, 84, 84, 0.7);
	font-size: 22px;
	font-weight: 400;
	letter-spacing: -0.88px;
}

@media screen and (max-width: 1279px) {
   .about-me{
      margin: 0 auto;
      padding: 0 50px;   
   }
   .about-me__image {
      background-color: #e8e8e8;
      margin-top: 10px;
      height: 307px;
      min-width: 255px;
   }

   .about-me__name {
      color: #000;
      font-size: 40px;
      font-weight: 400;
      line-height: 40px; 
      letter-spacing: -0.04em;
      margin: 0;
      padding-right: 49px;
   }

   .about-me__text {
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      padding-right: 49px;
   }
   .about-me__info {
      font-size: 12px;
      line-height: 18px;
      margin: 26px 0 80px 0;
      padding-right: 49px;
   }
   .about-me__wrapper{
      padding-top: 0;
   }
   .about-me__heading{
		padding-top: 90px;
	}
   
}   


@media screen and (max-width: 697px) {
   .about-me__wrapper{
      flex-direction: column-reverse;
   }
   .about-me{
      padding: 0 15px;
   }
   .about-me__image{
      width: 292px;
      height: 352px;
      margin: 5px 0 40px;
   }
   .about-me__name{
      font-size: 30px;
      letter-spacing: -1.2px;
   }
   .about-me__text{
      font-size: 11px;
      line-height: 16px;
      margin-top: 16px;
   }
   .about-me__info{
      padding: 0;
      font-size: 11px;
      line-height: 16px;
      margin-top: 22px;
      margin-bottom: 39px;
   }
   .about-me__heading {
		font-size: 18px;
		letter-spacing:  -0.72px;;
		padding: 70px 0 28px 0;
	}
}