.about__me{
   /* min-height: 608px; */
   padding: 18px 70px;
   box-sizing: border-box;
   margin: 10px auto 0;
   padding: 0 70px;   
}

.about__me-wrapper{
display: flex;
align-items: center;
justify-content: space-between;
}

@media screen and (max-width: 1279px) {
   .about__me{
      /* min-height: 608px; */
      box-sizing: border-box;
      margin: 0 auto;
      padding: 0 50px;   
   }
   .about__me-image {
      background-color: #e8e8e8;
      height: 307px;
      min-width: 255px;
      height: 327px;
      border-radius: 10px;
      box-sizing: border-box;
      background-image: url('../../images/photo.jpeg');
      background-size: cover;
      background-position: center;
   
   }
}   


@media screen and (max-width: 568px) {
   .about__me-wrapper{
      flex-direction: column-reverse;
   }
}
   

.about__me-title {
   color: #000;
   font-size: 50px;
   font-weight: 400;
   line-height: 58px; 
   letter-spacing: -2px;
   margin: 0;

}

.about__me-text {
   font-size: 18px;
   font-weight: 500;
   line-height: 20px;

}
.about__me-info {
   font-size: 14px;
   font-weight: 400;
   line-height: 22px;
   margin: 26px 0 99px 0;
   max-width: 600px;
}

.about__me-social {
color: #000;
font-size: 14px;
font-weight: 500;
text-decoration: none;
padding: 99px 0 0;

}
.about__me-image {
   background-color: #e8e8e8;
   height: 327px;
   min-width: 270px;
   height: 327px;
   border-radius: 10px;
   box-sizing: border-box;
   background-image: url('../../images/photo.jpeg');
   background-size: cover;
   background-position: center;

}
